<%= form_with(model: hardware, local: true) do |form| %>
  <% if hardware.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hardware.errors.count, "error") %> prohibited this hardware from being saved:</h2>

      <ul>
      <% hardware.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th> <%= form.label :owner, "Employee" %> </th>
        <th> <%= form.label :make, "Device" %> </th>
        <th> <%= form.label :serial_number, "ID" %> </th>
        <th> <%= form.label :issue_date %> </th>
        <th> <%= form.label :return_date %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= form.select :owner, @employee_list, {:include_blank => true}, {:value => params[:owner]} %></td>
        <td> <%= form.select :make, @device, {}, {:value => params[:owner]} %></td>
        <td> <%= form.text_field :serial_number  %> </td>
        <td> <%= form.date_field :issue_date %> </td>
        <td> <%= form.date_field :return_date %> </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
